{% extends 'mailings/base.html' %}
{% load my_tags_blog %}
{% block content %}

</div>
<div class="container col-10">
    <div class="card-body">
        <div class="col-12 text-center">
            <h2> Главная</h2>
            <hr>________________________________________________________________________________________</hr>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Количество рассылок</th>
                    <th scope="col">Количество активных рассылок</th>
                    <th scope="col">количество уникальных клиентов для рассылок</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{all_mailings}}</td>
                    <td>{{active_mailings}}</td>
                    <td>{{active_clients}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in random_blogs %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ object.preview | media_filter }}">
                    <div class="card-body">
                        <p class="card-text">{{ object.title | title }}</p>
                        <p class="card-text">Содержимое статьи: {{ object.content | title }}</p>
                        <p class="card-text">Дата создания: {{ object.created_at }}</p>
                        <p class="card-text">Количество просмотров: {{ object.views }}</p>
                    </div>
                    <div class="btn">
                    <a class="btn btn-primary" href="{% url 'blog:blog_detail' object.pk %}" role="button">Посмотреть</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}