{% extends 'mailings/base.html' %}
{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Статистика рассылки</h1>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


        <table class="table table-striped">
          <tr>
            <th>Рассылка</th>
            <th>Дата</th>
            <th>Статус</th>
            <th>Комментарий</th>
            <th>Ответ</th>
          </tr>

{% for logs in object_list %}
          <tr>
            <td>{{ logs.mailing_list }}</td>
            <td>{{ logs.time }}</td>
            <td>{{ logs.status }}</td>
            <td>{{ logs.comments }}</td>
            <td>{{ logs.server_response }}</td>
          </tr>

{% endfor %}



</table>


      </div>
    </div>
  </div>

{% endblock %}